.cont-icons {
  position: fixed;
  bottom: 0;
  // background-color: #fbfefd;
  background-image: asset-url('componentssvg/Rectangle.svg');
  background-position: center;
  background-size: cover;
  padding: 12px 0px;
}
.bottom-icons {
  display: flex;
  text-align: center;
  justify-content: space-evenly;
  padding-top: 30px;
}

.bottom-icons > .fa-solid {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.fa-lg {
  color: black;
}

.wrapper {
  min-height: 90vh;
}


.central {
font-size:70px;
}


// ce code permet de faire des hover sur du svg
// .bottom-btn {
//   > img.first-child {
//     display: block;
//   }
//   > img.last-child {
//     display: none
//   }
// }
// .bottom-btn:hover {
//   > img.first-child {
//     display: none;
//   }
//   > img.last-child {
//     display: block;
//   }
// }
