.event-date-cont {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
}

.date-cont {
  border: black 1px solid;
  width: 100px;
  text-align: center;
  border-radius: 30px;
  background-color: black;
  color: white;
  padding: 10px 10px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.07);
}

.show body {
  text-align: center;
}

.event-info-show {
  list-style-type: none;
  margin-top: 30px;
  margin-bottom: 20px;
  font-size: 20px;
  text-align: center;
}

.regular-title {
  max-width: 30em;
  margin: 0.75em auto;
  font-size: 40px;
  font-weight: bolder;
  text-align: center;
}

.defiler {
  max-width: 30em;
  margin: 1em auto 2em;
  overflow: hidden;
}

.defiler > :first-child {
  font-size: 40px;
  font-weight: bolder;
  display: inline-block;                /* modèle de boîte en ligne */
  padding-right: 2em;                   /* un peu d'espace pour la transition */
  padding-left: 100%;                   /* placement à droite du conteneur */
  white-space: nowrap;                  /* pas de passage à la ligne */
  animation: defilement-rtl 25s infinite linear;
}

@keyframes defilement-rtl {
  0% {
    transform: translate3d(0,0,0);      /* position initiale à droite */
  }
  100% {
    transform: translate3d(-100%,0,0);  /* position finale à gauche */
  }
}

.qrcode {
  width: 200px;
  justify-content: center;

}

.qr_cont{
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.flex-grow-1 h1 {
  font-size: 20px;
  text-align: center;
  margin-bottom: 10px;
}
