<div class="container my-5">

  <h2 class="info-title">Toutes vos notifications</h2>

  <ul>
    <% @notifications.each do |notif| %>
      <div class="notification-card-index">
        <div class="notification-head">
          <h3> <%= notif.title %> </h3>
          <p> <small> Il y a <%=((Time.current - notif.created_at) / 60).round(0) %> minutes </small></p>
        </div>
        <p> <small><strong><%= notif.content %></strong></small></p>
      </div>
    <% end %>
  </ul>
</div>
