<div class="container pb-4">
  <div class="bottom-icons">
    <%= link_to "", dashboard_path, class: "fa-solid fa-house fa-2x px-3" %>
    <%= link_to "", new_event_path, class: "fa-solid fa-circle-plus fa-2x px-3" %>
    <%= link_to "", events_path, class: "fa-solid fa-calendar-days fa-2x px-3"  %>
  </div>
</div>
