<div class="container">
  <div class="home-text">
    <img class="home-pic" src="https://cdn-icons-png.flaticon.com/512/432/432312.png">
    <div>
      <h1>All your tickets at the right time for the right place</h1>
      <p>Upload all your tickets for your next events and they show up automatically when you need them</p>
    </div>
    <%= link_to "Sign up", new_user_registration_path, class: "btn-sign-up" %>
    <%= link_to "Log in", new_user_session_path, class: "btn-sign-in" %>
  </div>
</div>
