<div class="container">
  <div class="home-text">
      <img class="home-pic" src="https://cdn-icons-png.flaticon.com/512/432/432312.png">
      <div>
        <h1>Tous vos billets au bon endroit et au bon moment</h1>
        <p>Chargez tous vos billets pour vos prochains évènements et ils apparaitrons automatiquement lorsque vous en aurez besoin</p>
      </div>
      <%= link_to "S'inscrire", new_user_registration_path, class: "btn-sign-up" %>
      <%= link_to "Se connecter", new_user_session_path, class: "btn-sign-in" %>
  </div>
</div>
