.btn-add-event {
  background-color: #7061DE;
  display: block;
  border-radius: 30px;
  margin: 20px auto;
  text-align: center;
  color: white;
  font-weight: bolder;
  width: 100%;
  padding: 15px 25px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
  border: none;
}

.btn-sign-up {
  display: block;
  font-weight: bolder;
  background-color: #7061DE;
  color: white;
  border-radius: 30px;
  width: 100%;
  padding: 15px 25px;
  margin: 30px auto;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
  text-align: center;
}



.btn-sign-in {
  display: block;
  font-weight: bolder;
  background-color: white;
  color: #7061DE;
  border-radius: 30px;
  width: 75%;
  padding: 15px 25px;
  margin: 30px auto;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
  border: #7061DE solid 1px;
  text-align: center;
}

.btn-see-pdf {
  background-color: white;
  padding: 15px 25px;
  color: #7061DE ;
  border: #7061DE solid 1px;
  border-radius: 30px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
  width: 50%;
  text-align: center;
  margin: 20px auto;
  display: block;
}

.btn-forgot {
  text-decoration: none;
  padding: 15px 20px;
  border: #cbbbbb solid 1px;
  border-radius: 30px;
  color: #cbbbbb;
  text-align: center;
  margin: 0px 35px;
  width: 75%;
  display: block;
}

.btn-back {
  font-size: 30px;
  font-weight: bold;
  color: #cbbbbb;
  display: block;

}
