.card-trip {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin-top: 20px;
  margin-bottom: 30px;
  border-radius: 15px;
}

.card-trip > img {
  height: 220px;
  width: 100%;
  object-fit: cover;
}

.card-trip h2 {
  font-size: 30px;
  font-weight: bold;
  margin: 0;
}

.card-trip p {
  font-size: 15px;
  opacity: .7;
  margin: 0;
}

.card-trip-infos {
  padding: 20px 20px;
  text-align: start;
  display: flex;
  justify-content: space-between;
  align-items: end;
}
