.card-trip {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin-top: 20px;
  margin-bottom: 30px;
  border-radius: 15px;
}

.card-trip > img {
  height: 220px;
  width: 100%;
  object-fit: cover;
}

.card-trip h2 {
  font-size: 30px;
  font-weight: bold;
  margin: 0;
}

.card-trip p {
  font-size: 15px;
  opacity: .7;
  margin: 0;
}

.card-trip-infos {
  padding: 20px 20px;
  text-align: start;
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.card-product {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  margin-top : 10px;
}

.card-product img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;
}

.name {
  text-decoration: none;
  text-transform: none;
  color: black;
}

.name :hover {
  text-decoration: none;
  text-transform: none;
  color: black;
}
